.addButton {
    position: fixed;
    bottom: 7vw;
    right: 7vw;
    width: 58px;
    height: 58px;
    border: 0;
    border-radius: 50%;
    fill: rgb(1, 75, 188);
    background-color: white;
  }