.button-add {
  position: fixed;
  bottom: 7vw;
  right: 7vw;
  width: 58px;
  height: 58px;
  border: 0;
  border-radius: 50%;
  fill: $blue;
  background-color: $background;
}

.select-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.button-options {
  margin: 12px auto;
  width: 226px;
  height: 48px;
  color: $background;
  background-color: $blue;
  border-radius: 5px;
  text-transform: uppercase;
}

.button-pagination {
  width: 46px;
  height: 46px;
  border-radius: 12px;
  font-size: 28px;
  background-color: $background;
  cursor: pointer;

  &--dark {
    background-color: $grayBackground-dark;
    color: $background;
  }
}

.button-filters {
  width: 226px;
  height: 48px;
  margin: auto;
  color: $blue;
  border-radius: 5px;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .button-add {
    bottom: 2vw;
    right: 2vw;
  }
}