$blue: rgb(1, 75, 188);
$grayBackground: rgb(250, 249, 250);
$grayBackground-dark: rgb(50, 49, 50);
$background: rgb(255, 255, 255);
$background-dark: rgb(20, 20, 20);
$color: rgb(0, 0, 0);
$color-dark: rgb(255, 255, 255);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0.8vw;
  }

  &::-webkit-scrollbar-track {
    background: $background;
  }

  &::-webkit-scrollbar-thumb {
    background: $grayBackground-dark;
  }
}

body {
  min-height: 100vh;
  // width: 100vw;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color;
  background-color: $grayBackground;
}

.body-dark {
  min-height: 100vh;
  // width: 100vw;
  color: $color-dark;
  background-color: $background-dark;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: 0;
  cursor: pointer;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: $color;
  cursor: pointer;
}
