.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  padding: 0 14px;
  background-color: $background;

  &--dark {
    background-color: $grayBackground-dark;
  }

  h1 {
    text-align: center;
    font-size: 26px;
  }

  &__button-theme {
    background: $background;

    &--dark {
      background: $grayBackground-dark;
      fill: $background;
    }

    svg {
      width: 36px;
      height: 36px;
    }
  }

  &__button-menu {
    background: $background;

    &--dark {
      background: $grayBackground-dark;
      fill: $background;
    }

    &--disactive {
      display: none;
    }

    svg {
      width: 36px;
      height: 36px;
    }
  }

  &__button-back {
    background: $background;

    &--dark {
      background: $grayBackground-dark;
      fill: $background;
    }
  
    svg {
      width: 36px;
      height: 36px;
    }
  }
}

