.input {
    width: 80vw;
    height: 6vh;
    padding: 5px 16px;
    border: 0;
    border-bottom: solid 2px gray;
}

.inputsSection {
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-evenly;
}

.transactionOptions {
    text-transform: uppercase;
    margin: auto;
    width: 226px;
    height: 48px;
    color: white;
    background-color: rgb(1, 75, 188);
    border-radius: 5px;
}