.transactionSection {
  padding: 4vh 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;

  h3 {
    text-align: start;
    padding: 0 8px;
  }
}

.transactionSection__header {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-between;
}

.transactionCard {
  display: flex;
  width: 90vw;
  height: 12vh;
  margin-top: 1vh;
  border-radius: 5px;
  background-color: white;
  align-items: center;

  &:first-of-type {
    margin-top: 2vh;
  }

  &__ammount {
    width: 20vw;
    font-size: 20px;
    font-weight: bold;

    .income {
      color: green;
    }

    .expense {
      color: red;
    }
  }

  &__description {
    width: 50vw;
    padding: 0 5vw;

    .title {
      font-weight: bold;
      font-size: 18px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .category {
      text-transform: uppercase;
      font-size: 15px;
      color: gray;
    }
  }

  &__buttons {
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
  }
}

.trashButton {
  width: 22px;
  height: 22px;
  border: 0;
  fill: red;
  background-color: white;
}

.editButton {
  width: 22px;
  height: 22px;
  border: 0;
  background-color: white;

}

.goBackButton {
  background: white;

  svg {
    width: 36px;
    height: 36px;
  }
}

.filterButton {
  background-color: $grayBackground;
  padding: 0 8px;

  svg {
    width: 24px;
    height: 24px;
  }
}

.themeButton,
.menuButton,
.goBackButton {
  padding: 0 16px;
}

