.transaction-section {
  padding: 4vh 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;

  &__title {
    width: 55%;
    margin-left: 5%;
    padding-bottom: 1vh;
    h3 {
      text-align: start;
      justify-content: center;
      padding: 0 8px;
      font-size: 22px;
    }
  }

  &__filterButton {
    padding-bottom: 1vh;
    width: 35%;
    margin-right: 5%;
    justify-content: center;
    text-align: end;
  }

  &__active-criteria {
    width: 90vw;
    margin-left: 2%;
    display: flex;
    text-align: start;
    margin-top: 16px;
    color: $grayBackground-dark;

    &:last-child {
      margin-bottom: 6px;
    }
  }

  &__active-criteria-paragraph {
    padding: 0 8px;
    font-size: 18px;
    font-weight: bold;

    &--dark {
      color: $color-dark;
    }
  }

  &__button-delete-criteria {
    width: 22px;
    height: 22px;
    border: 0;
    fill: red;
    background-color: $grayBackground;

    &--dark {
      background: $background-dark;
    }
  }

  &__button-filter {
    background-color: $grayBackground;
    padding: 0 8px;

    &--dark {
      background: $background-dark;
      fill: $background;
    }

    &--disactive {
      display: none;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__card {
    display: flex;
    width: 90vw;
    height: 12vh;
    margin-top: 1vh;
    border-radius: 5px;
    background-color: white;
    align-items: center;

    &--dark {
      background-color: $grayBackground-dark;
    }

    &:first-of-type {
      margin-top: 2vh;
    }
  }

  &__paragraph {
    width: 90vw;
    margin-top: 2vh;
    font-size: 18px;
  }

  &__pagination {
    width: 90vw;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (min-width: 1024px) {
  .transaction-section {
    &__card {
      width: 70vw;
    }

    &__title {
      width: 45%;
      margin-left: 15%;
    }

    &__filterButton {
      width: 25%;
      margin-right: 15%;
    }

    &__active-criteria {
      width: 70vw;
    }

    &__pagination {
      width: 50vw;
      margin-top: 2vh;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}
