@import "config";

.transactionCard {
  display: flex;
  width: 90vw;
  height: 12vh;
  margin-top: 1vh;
  border-radius: 5px;
  background-color: white;
  align-items: center;
  
  &:first-of-type {
    margin-top: 2vh;
  }

  &__ammount {
    width: 20vw;
    font-size: 20px;
    font-weight: bold;

    .income {
      color: green;
    }

    .expense {
      color: red;
    }

  }

  &__description {
    width: 50vw;
    padding: 0 5vw;
  
  .title {
    font-weight: bold;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .category {
    text-transform: uppercase;
    font-size: 15px;
    color: gray;
  }
  
  }

  &__buttons {
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
  }
}

.totalCard {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 92vw;
  height: 16vh;
  border-radius: 5px;
  background-color: white;
  align-items: center;

  h2 {
    width: 100%;
    text-transform: uppercase;
    font-size: 18px;
    color: gray;
  }

  p {
    width: 100%;
    font-weight: bold;
    font-size: 28px;
  }
}

.expenseCard, .incomeCard {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 44vw;
  height: 14vh;
  margin-top: 2vh;
  border-radius: 5px;
  background-color: white;

  &__incomeIcon {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 28px;
    height: 28px;
    fill: green;
    background-color: lightgreen;
    border-radius: 50%;
  }

  &__expenseIcon {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 28px;
    height: 28px;
    fill: red;
    background-color: lightcoral;
    border-radius: 50%;
  }

  h2 {
    margin-top: 30%;
    //bug
    width: 100%;
    padding: 0 5%;
    text-transform: uppercase;
    font-size: 14px;
    color: gray;
  }

  p {
    width: 100%;
    padding: 5%;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
  }
}

header {
  display: flex;
  width: 100vw;
  height: 10vh;
  background-color: white;
}

.totalSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2vh;
}

.transactionSection {
  padding: 3vh 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;

  h3 {
    width: 88vw;
    text-align: start;
  }
}

.addButton {
  position: fixed;
  bottom: 7vw;
  right: 7vw;
  border: 0;
  border-radius: 50%;
  background-color: white;
  fill: rgb(1, 75, 188);
  width: 58px;
  height: 58px;
}

.trashButton {
  border: 0;
  background-color: white;
  fill: red;
  width: 22px;
  height: 22px;
}

.editButton {
  border: 0;
  background-color: white;
  width: 22px;
  height: 22px;
}

