* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //background-color: gray;
  background-color: rgb(250, 249, 250);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.transactionCard {
  display: flex;
  width: 90vw;
  height: 12vh;
  margin-top: 1vh;
  border-radius: 5px;
  background-color: white;
  align-items: center;
  
  &:first-child {
    margin-top: 8vh;
  }

  &_ammount {
    width: 20vw;
  }

  &_description {
    width: 50vw;
  }

  &_buttons {
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
  }
}

.totalCard {
  display: flex;
  width: 92vw;
  height: 16vh;
  border-radius: 5px;
  background-color: white;
}

.expenseCard {
  display: flex;
  width: 44vw;
  height: 14vh;
  margin-top: 2vh;
  border-radius: 5px;
  background-color: white;
}

.incomeCard {
  display: flex;
  width: 44vw;
  height: 14vh;
  margin-top: 2vh;
  border-radius: 5px;
  background-color: white;

  h2 {
    width: 80%;
  }
}

header {
  display: flex;
  width: 100vw;
  height: 10vh;
  background-color: white;
}

.totalSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2vh;
}

.transactionSection {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

h2 {
  font-size: 16px;
  font-weight: normal;
}

.addButton {
  position: fixed;
  bottom: 7vw;
  right: 7vw;
  border: 0;
  border-radius: 50%;
  background-color: white;
  fill: rgb(1, 75, 188);
  width: 54px;
  height: 54px;
}

.trashButton {
  border: 0;
  background-color: white;
  fill: red;
  width: 20px;
  height: 20px;
}

.editButton {
  border: 0;
  background-color: white;
  width: 20px;
  height: 20px;
}

