* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  min-height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  background-color: #faf9fa;
}

.body-dark {
  min-height: 100vh;
  color: white;
  background-color: #141414;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: 0;
  cursor: pointer;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  padding: 0 14px;
  background-color: white;
}

.header--dark {
  background-color: #323132;
}

.header h1 {
  text-align: center;
  font-size: 26px;
}

.header__button-theme {
  background: white;
}

.header__button-theme--dark {
  background: #323132;
  fill: white;
}

.header__button-theme svg {
  width: 36px;
  height: 36px;
}

.header__button-menu {
  background: white;
}

.header__button-menu--dark {
  background: #323132;
  fill: white;
}

.header__button-menu--disactive {
  display: none;
}

.header__button-menu svg {
  width: 36px;
  height: 36px;
}

.header__button-back {
  background: white;
}

.header__button-back--dark {
  background: #323132;
  fill: white;
}

.header__button-back svg {
  width: 36px;
  height: 36px;
}

@media (min-width: 1024px) {
  .header {
    padding: 0 48px;
  }
}

.navigation {
  width: 100vw;
  background-color: white;
}

.navigation .navigation__item {
  display: block;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
}

.navigation .navigation__item:hover {
  background-color: #faf9fa;
}

.navigation .navigation__item--dark {
  background-color: #323132;
  color: white;
}

.navigation .navigation__item--dark:hover {
  background-color: black;
}

.button-add {
  position: fixed;
  bottom: 7vw;
  right: 7vw;
  width: 58px;
  height: 58px;
  border: 0;
  border-radius: 50%;
  fill: #014bbc;
  background-color: white;
}

.select-container {
  width: 100vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.button-options {
  margin: 12px auto;
  width: 226px;
  height: 48px;
  color: white;
  background-color: #014bbc;
  border-radius: 5px;
  text-transform: uppercase;
}

.button-pagination {
  width: 46px;
  height: 46px;
  border-radius: 12px;
  font-size: 28px;
  background-color: white;
  cursor: pointer;
}

.button-pagination--dark {
  background-color: #323132;
  color: white;
}

.button-filters {
  width: 226px;
  height: 48px;
  margin: auto;
  color: #014bbc;
  border-radius: 5px;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .button-add {
    bottom: 2vw;
    right: 2vw;
  }
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 90vw;
  margin: auto;
}

.cards__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 16vh;
  margin-top: 2vh;
  border-radius: 5px;
  color: black;
  background-color: white;
}

.cards__total--dark {
  color: white;
  background-color: #323132;
}

.cards__h2 {
  width: 100%;
  text-transform: uppercase;
  font-size: 18px;
  color: gray;
}

.cards__p {
  width: 100%;
  font-weight: bold;
  font-size: 32px;
}

.cards__income,
.cards__expense {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 47.5%;
  height: 14vh;
  margin-top: 2vh;
  border-radius: 5px;
  background-color: white;
}

.cards__income--dark,
.cards__expense--dark {
  background-color: #323132;
}

.cards__income--main-card,
.cards__expense--main-card {
  width: 100%;
  height: 18vh;
}

.cards__income h2,
.cards__expense h2 {
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  color: gray;
}

.cards__income p,
.cards__expense p {
  width: 100%;
  font-weight: bold;
  font-size: 24px;
}

.cards__expense {
  margin-right: 5%;
}

.cards__expense--main-card {
  margin-right: 0;
}

.cards__income-icon {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  fill: green;
  background-color: lightgreen;
}

.cards__expense-icon {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  fill: red;
  background-color: lightcoral;
}

@media (min-width: 1024px) {
  .cards {
    width: 70vw;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .cards__income h2,
  .cards__expense h2 {
    margin-top: 46px;
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    color: gray;
  }
  .cards__income p,
  .cards__expense p {
    width: 100%;
    font-weight: bold;
    font-size: 24px;
  }
}

.transaction-section {
  padding: 4vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.transaction-section__title {
  width: 55%;
  margin-left: 5%;
  padding-bottom: 1vh;
}

.transaction-section__title h3 {
  text-align: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 8px;
  font-size: 22px;
}

.transaction-section__filterButton {
  padding-bottom: 1vh;
  width: 35%;
  margin-right: 5%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: end;
}

.transaction-section__active-criteria {
  width: 90vw;
  margin-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  margin-top: 16px;
  color: #323132;
}

.transaction-section__active-criteria:last-child {
  margin-bottom: 6px;
}

.transaction-section__active-criteria-paragraph {
  padding: 0 8px;
  font-size: 18px;
  font-weight: bold;
}

.transaction-section__active-criteria-paragraph--dark {
  color: white;
}

.transaction-section__button-delete-criteria {
  width: 22px;
  height: 22px;
  border: 0;
  fill: red;
  background-color: #faf9fa;
}

.transaction-section__button-delete-criteria--dark {
  background: #141414;
}

.transaction-section__button-filter {
  background-color: #faf9fa;
  padding: 0 8px;
}

.transaction-section__button-filter--dark {
  background: #141414;
  fill: white;
}

.transaction-section__button-filter--disactive {
  display: none;
}

.transaction-section__button-filter svg {
  width: 24px;
  height: 24px;
}

.transaction-section__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  height: 12vh;
  margin-top: 1vh;
  border-radius: 5px;
  background-color: white;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.transaction-section__card--dark {
  background-color: #323132;
}

.transaction-section__card:first-of-type {
  margin-top: 2vh;
}

.transaction-section__paragraph {
  width: 90vw;
  margin-top: 2vh;
  font-size: 18px;
}

.transaction-section__pagination {
  width: 90vw;
  margin-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

@media (min-width: 1024px) {
  .transaction-section__card {
    width: 70vw;
  }
  .transaction-section__title {
    width: 45%;
    margin-left: 15%;
  }
  .transaction-section__filterButton {
    width: 25%;
    margin-right: 15%;
  }
  .transaction-section__active-criteria {
    width: 70vw;
  }
  .transaction-section__pagination {
    width: 70vw;
    margin-top: 2vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
}

.card__ammount {
  width: 20vw;
  font-size: 20px;
  font-weight: bold;
}

.card__ammount .income {
  color: green;
}

.card__ammount--dark {
  background-color: #323132;
}

.card__ammount--dark .income {
  color: lightgreen;
}

.card__ammount .expense {
  color: red;
}

.card__description {
  width: 50vw;
  padding: 0 5vw;
}

.card__title {
  font-weight: bold;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__title--dark {
  color: white;
}

.card__category {
  text-transform: uppercase;
  font-size: 15px;
  color: gray;
}

.card__buttons {
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.card__button-trash {
  width: 22px;
  height: 22px;
  border: 0;
  fill: red;
  background-color: white;
}

.card__button-trash--dark {
  background: #323132;
}

.card__button-edit {
  width: 22px;
  height: 22px;
  border: 0;
  background-color: white;
}

.card__button-edit--dark {
  fill: white;
  background: #323132;
}

@media (min-width: 1024px) {
  .card__ammount {
    width: 15vw;
  }
  .card__description {
    width: 40vw;
  }
  .card__buttons {
    width: 15vw;
  }
}

.details-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75vh;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  padding: 5vh 0;
}

.details-div {
  width: 80vw;
}

.details-div__category {
  font-size: 14px;
  padding: 7px 0;
  color: gray;
}

.details-div__value {
  font-size: 18px;
  padding: 9px 0;
}

.button-details {
  height: 10vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-details button {
  width: 126px;
  height: 48px;
  border-radius: 5px;
  background-color: #014bbc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.button-details button span {
  text-transform: uppercase;
  font-size: 14px;
  color: white;
}

.button-details button svg {
  height: 24px;
  width: 24px;
  fill: white;
}

.button-details--dark button span {
  color: white;
}

.button-details--dark button svg {
  fill: white;
}

.inputs-section {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: space-evenly;
  align-content: space-evenly;
}

.inputs-section__input {
  width: 80vw;
  height: 6vh;
  padding: 5px 16px;
  margin: 0 10vw;
  border: 0;
  border-bottom: solid 2px gray;
}

.inputs-section__input--dark {
  background: #323132;
  color: white;
  color-scheme: dark;
}

.inputs-filter {
  width: 90vw;
  min-height: 40vh;
  padding: 8px 0;
  margin: 1vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: space-evenly;
  align-content: space-evenly;
  border: 2px solid gray;
  border-radius: 5px;
}

.inputs-filter__input {
  width: 60vw;
  height: 5vh;
  padding: 4px 14px;
  margin: 4px 0;
  border: 0;
  border-bottom: solid 1px gray;
}

.inputs-filter__input:first-child {
  margin-top: 12px;
}

.inputs-filter__input--dark {
  background: #323132;
  color: white;
  color-scheme: dark;
}

.inputs-filter__label {
  width: 80vw;
  margin: 2px 0;
}

.inputs-filter__label input {
  margin-right: 4px;
}

@media (min-width: 1024px) {
  .inputs-filter {
    width: 70vw;
    margin: 1vh 15vw;
  }
}
/*# sourceMappingURL=main.css.map */
